table.buscador{
	width: 100%;
}
table.buscador  td {
	border: solid 1px #DEDEDE;
	width: 30px;
	text-align: left !important;
}

table.buscador th 
{
	background-color: #5390bc;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold !important;
    padding: 5px;
    font-size: 16px;
    letter-spacing: 2px
}
table.buscador tr 
{
	background: #F0F8FF;
    color: #000000;
}

table.buscador  tr:hover {
	background-color: #f49464 !important;
	color: #fff !important;
	font-weight: bold !important;
	
}

table.buscador  td a:hover{
	text-decoration: none;
	color: #fff !important;
}