/*
    Declarar variables de colores
*/
color_a = #910b02
color_b = #03235c
color_c = #9e9c85
color_d = #eacdcf
color_e = #cb9491
color_boton = #5775ED
fuente = lato, arial, sans-serif
fuente_t = 'berlingtregular','Open Sans', 'Lato', sans-serif

@font-face {
    font-family: 'berlingtregular';
    src: url('../fonts/berlingt-webfont.eot');
    src: url('../fonts/berlingt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/berlingt-webfont.woff') format('woff'),
         url('../fonts/berlingt-webfont.ttf') format('truetype'),
         url('../fonts/berlingt-webfont.svg#berlingtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{

	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

	-moz-tap-highlight-color:rgba(0,0,0,0);
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;

	-ms-tap-highlight-color:rgba(0,0,0,0);
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
    background: #d0d1d3;
}

.jumbotron-contents h1 h2 h3 h4 h5
    font-family fuente_t !important

footer
    background-color #FFF
    color color_c
    height 200px
    margin-top 55px
    padding 25px
    text-align center
    vertical-align -50px
    .imgFooter
        width 100px


div.likeboxwrap {
width:290px; /* Quitar 2px al ancho del gadget */
height:400px; /* Quitar 25px al alto del gadget */
background-color: white; /* Color de fondo del gadget */
margin-left 15px
overflow:hidden;
}
div.likeboxwrap iframe {margin:-1px}


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: #03235c;
  margin-bottom: 50px;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}
.container{
    margin-top: 150px;
    z-index: -9999;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  float: left;
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  background: #03235c;
  padding: 0.7em 1em;
  color: #fff;
  width: 100%;
  float: left;
}

.nav-collapse a:hover,
.nav-collapse .active a {
  background: #fff;
  color: #03235c;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}

.nav-collapse ul ul a {
  background:#03235c;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}

/*********************
*	wrapper
*********************/
.wrapper{
	margin: 0px auto;
	width: 990px;
}
#btn-fb-connect{
	background: #2e992f url(../img/btn-fb-connect-a.png) 0px 0px no-repeat;
	height: 23px;
	position: absolute;
	right: 182px;
	text-indent: -10000px;
	top: 36px;
	width: 169px;
}
#btn-fb-connect:hover{background-position: 0px -23px;}
/*********************
*	header
*********************/
#header{
    height: 100px;
    position: fixed;
    top: 49px;
    background: #910b02;
    width: 100%
    z-index: 3;
}
#header .wrapper{
	height: 138px;
	position: relative;
}

#header .wrapper h1{
	float: left;
	margin-top: 33px;
}
#header .wrapper h1 a{
	height: 100px;
	text-indent: -10000px;
	width: 100px;
}
#header .wrapper h1 a img.logo_lib{
    width: 100px;
    position: relative;
    top: -34px;
}


/*********************
*	social-links
*********************/
#header .wrapper .social-links{
	position: absolute;
	right: 0px;
	top: 33px;

}
#header .wrapper .social-links a{margin-left: 17px;}

/*********************
*	social-links
*********************/
.social-links a{
	background: url(../img/btn-social-media-a.png) no-repeat;
	float: left;
	height: 24px;
	text-indent: -10000px;
	width: 24px;
}
.social-links a#btn-facebook{background-position: 0px 0px;}
.social-links a#btn-facebook:hover{background-position: 0px -24px;}

.social-links a#btn-twitter{background-position: -24px 0px;}
.social-links a#btn-twitter:hover{background-position: -24px -24px;}

.social-links a#btn-youtube{background-position: -48px 0px;}
.social-links a#btn-youtube:hover{background-position: -48px -24px;}

.social-links a#btn-rss{background-position: -72px 0px;}
.social-links a#btn-rss:hover{background-position: -72px -24px;}

.social-links a#btn-comunidad{background-position: -96px 0px;}
.social-links a#btn-comunidad:hover{background-position: -96px -24px;}



@charset "utf-8";
/*********************
*	wrapper
*********************/
@media only screen and (max-width: 767px) and (min-width: 321px){
.wrapper{
	margin: 0px auto;
	width: 480px;
}
/*********************
*	header
*********************/
#header{ height: auto;}
#header .wrapper{
	height: auto;
	position: relative;
}

#header .wrapper h1{
	float: none;
	margin:15px 0px 15px 15px;
	width: 214px;
}
#header .wrapper h1 a img.logo_lib {
 position:relative;
left: 137px;
width: 200px;
margin: 0;
padding: 0;
top: -4px;

}

/*********************
*	social-links
*********************/
#header .wrapper .social-links{
	position: absolute;
	right: 10px;
	top: 30px;
	display: none;
}
#header .wrapper .social-links a{margin-left: 17px;}
.container{
    margin-top: 279px;
    overflow: hidden;
    clear: both;
    }

}


.carousel-indicators {
z-index:2 ;
}

.panel-title
  font-family font
  background color_b
  color white
  font-size 20px
  padding-left 15px

.panel-group .panel-title a
  padding 15px 0
  &:hover
    color white


 /*
    Galeria
  */




