section#eventos article{
	/*border: 1px dashed blue;*/
	cursor: pointer;
}

section#eventos article img{
	width: 50px;
	height: 35px;
}

section#eventos article img,section#eventos article span{
	display: inline-block;
}

/*Inicio accordion*/
			section#accordion h1, h2, h3, h4, h5, h6 {
				font-family: Georgia, serif;
				margin-bottom: 5px !important;
				font-weight: bold;
}
			section#accordion h6{
				font-size: 330% !important;
				text-shadow:2px 2px 1px white !important;
			}
			section#accordion p {
				line-height: 140% !important;
				text-align: justify !important;
				
			}
			#accordion {
				margin: 50px 0px 0px 50px;
				width: 100%;
			}
			#accordion article {
				-webkit-transform: perspective(900px) rotateY(60deg);
				-webkit-transition: all 0.7s ease-in-out;
				background: #fff;
				border: 1px solid #f3f3f3;
				box-shadow: 0px 5px 15px gray;
				float: left;
				height: 600px;
				margin-left: -180px;
				padding: 20px;
				width: 320px;
			}
			#accordion article:first-child {
				margin-left: 20px;
			}
			#accordion article img {
				float: left;
				padding: 0 10px 5px 0;
				width: 100px !important;
				height: 100px !important;
			}
			#accordion article:hover {
				-webkit-transform: perspective(0) rotateY(-10deg);
				margin: 0 140px 0 -80px;
			}

a.contactar {
	color: blue;
}

/*Fin del accordion*/

div#asamblea nav, div#como-ser nav, div#fondo nav{
	text-align: center;
}

div#asamblea img, div#como-ser img, div#fondo img{
	height: 350px;
	width: 850px !important;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 15px 30px #5390bc;

}

/*video de introduccióm con ventana modal*/
.modal-modal {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;

}

.contenido-modal h5 {
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
}
.contenido-modal {

	text-align: center;
	margin: auto;
	width: 60%;
	height: 50%;
	/*background: #5390bc;*/
	background: -webkit-linear-gradient(360deg,#5390bc,#fff);
	border-radius: 10px;
}

#cerrar-modal {
	display: none;
	text-align: center;
}

input#cerrar-modal + label#label-modal {
	text-align: center;
	position: fixed;
	color: #fff !important;
	font-size: 25px;
	z-index: 50;
	background: #428bca;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	right: 150px;
	top: 150px;
	cursor: pointer;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0 !important;
}

#cerrar-modal:checked + label#label-modal, #cerrar-modal:checked ~ .modal-modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}
video {
	width: 90%;
	height: 80%;
}

/*Fin de ventana modal*/

/*iconos de la ventana modal*/

article#modal-iconos h5, article#modal-iconos nav {
	display: inline-block;
}
article#modal-iconos nav {
	margin: 0 5px 0 5px;
}

div.contenido-modal:first-child h5 a{
	color: blue !important;
}