article#uno,article#dos,article#tres,article#cuatro,article#cinco,article#seis{
	margin: 5px 0 5px 0;
	background-color: #F0F0F0;
	color: black;
	font-size: 15px;
	font-weight: bold;
}

section#icons-abd{
	text-align: center;
}
section#icons-abd p{
	text-align: center;
}
section#icons-abd nav{
	display: inline-block;
	width: 10%;
	margin: 0 5px 0 5px;
	background-color: #f2f2f4;
}

section#icons-abd nav#fac:hover{
	color: #FFF;
	background-color: #3b5998;
}

section#icons-abd nav#twi:hover{
	color: #FFF;
	background-color: #2e9edd;
}

section#icons-abd nav#you:hover{
	color: #FFF !important;
	background-color: #db514f !important;
}

section#eventos > article:hover {
	background-color: #f49464;
	color: #fff;
}

section#eventos > article.programas {
	color: black !important;
	font-size: 15px !important;
	font-weight: bold !important;

}

section#eventos > article.programas:hover {
	background-color: #d55472 !important;
	color: #fff !important;
}
section#eventos > article.programas > a {
	color: black !important;
	font-size: 15px !important;
	font-weight: bold !important;
	text-decoration: none;
	
}

section#eventos > article.programas > a:hover {
	color: black !important;
	font-size: 15px !important;
	font-weight: bold !important;
	color: #fff !important;
	
}

section#eventos h4 {
	background-color: #5390bc !important;
	border: 1px solid #5390bc !important;
	color: #fff !important;
	font-weight: bold !important;
	padding: 5px;
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
    margin-bottom: 1px;
}