.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: #5D6975;
	text-decoration: underline;
}

td {
	height: 20px;
}

.hoja {
	page-break-after: always;
}

body {
	position: relative;
	width: 28cm;
	height: 29.7cm;
	color: #001028;
	background: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0 auto;
}

.container-fluid {
	position: relative;
	margin: 0 auto;
	width: 700px;
	left: -160px;
}

.main {
	width: 70%;
	margin-bottom: 15px;
}

header {
	padding: 10px 0;
	margin-bottom: 10px;
}

#logo {
	text-align: center;
	margin-bottom: 0px;
}

#logo img {
	width: 90%;
}

h1 {
	border-top: 1px solid #5D6975;
	border-bottom: 1px solid #5D6975;
	color: #5D6975;
	font-size: 2.4em;
	line-height: 1.4em;
	font-weight: normal;
	text-align: center;
	margin: 0 0 20px 0;
	/*background: url(dimension.png);*/
}

#project {
	float: left;
}

#project span {
	color: #5D6975;
	text-align: right;
	width: 52px;
	margin-right: 10px;
	display: inline-block;
	font-size: 0.8em;
}

#company {
	float: right;
	text-align: right;
}

#project div, #company div {
	white-space: nowrap;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
	background: #F5F5F5;
}

table th, table td {
	text-align: center;
}

table th {
	padding: 5px 20px;
	color: #5D6975;
	border-bottom: 1px solid #C1CED9;
	white-space: nowrap;
	font-weight: normal;
}

table .service, table .desc {
	text-align: left;
}

table td {
	padding: 5px;
	text-align: left;
}

table td.service, table td.desc {
	vertical-align: top;
}

table td.unit, table td.qty, table td.total {
	font-size: 1em;
}

table td.grand {
	border-top: 1px solid #5D6975;;
}

#notices .notice {
	color: #5D6975;
	font-size: 1.2em;
}

footer {
	color: #5D6975;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #C1CED9;
	padding: 8px 0;
	text-align: center;
}
.caja {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
}

/*html {*/
/*background: salmon;*/
/*}*/

* {

	font-family: 'Open Sans', sans-serif;
}

.wrap {
	margin-top: 20px;
	text-align: center;
}

.button {
	display: inline-block;
	margin: 0.3em;
	padding: 1.2em 5em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border: none;
	font-size: 15px;
	text-align: center;
}

.button:hover {
	box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

.green {
	background-color: #4CAF50;
	color: white;
}

.red {
	background-color: #F44336;
	color: white;
}

.blue {
	background-color: #03A9F4;
	color: white;
}

.ripple {
	position: absolute;
	background: rgba(0,0,0,.25);
	border-radius: 100%;
	transform: scale(0.2);
	opacity: 0;
	pointer-events: none;
	-webkit-animation: ripple .75s ease-out;
	-moz-animation: ripple .75s ease-out;
	animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
from {
	opacity: 1;
}
to {
	transform: scale(2);
	opacity: 0;
}
}

@-moz-keyframes
ripple {from {
	opacity: 1;
}
to {
	transform: scale(2);
	opacity: 0;
}
}

@keyframes
ripple {from {
	opacity: 1;
}
to {
	transform: scale(2);
	opacity: 0;
}
}
